.containerWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px;
}

.blockWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.containerStyle {
  flex-basis: 70%;
  display: flex;
  justify-content: center;
}

.introStyle {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.blockBasic {
  border-radius: 30px;
  height: 200px;
  width: 200px;
  color: white;
  flex-basis: 20%;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.footerLinkedinLink {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.footerLinkedinLink:hover {
  color: black !important;
  text-shadow: -2px -2px #02fefe, 2px 2px #fe02e9 !important;
}
