.NavWrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.AboutButton {
  text-decoration: none;
  transition: transform 0.2s;
  cursor: pointer;
  color: white;
}

.AboutButton:hover {
  color: #3d1fff !important;
  text-shadow: -2px -2px #02fefe, 2px 2px #fe02e9 !important;
}

.Nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  background-color: rgba(62, 62, 70, 0.459);
  backdrop-filter: blur(14px);
  border-radius: 20px;
}

.LogInOutButton {
  text-decoration: none;
  cursor: pointer;
  color: yellow;
  opacity: 1;
  padding: 2px;
}

.LogInOutButton:hover {
  color: #ec058e;
}
.NavButton {
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  cursor: pointer;
  color: #3d1fff;
}

.SiteName {
  text-decoration: none;
  color: white !important;
  font-size: 30px;
}

.SiteName:hover {
  color: #3d1fff !important;
  text-shadow: -3px -3px #02fefe, 3px 3px #fe02e9 !important;
}

.customButton {
  background-color: #143109;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
