.NavWrapper {

    display: flex;
    justify-content: center;
    margin: 40px;

}

.Nav {

    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;   
}

.NavButton {
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    cursor: pointer;
}