.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrowContainerOne {
  display: flex;
  padding-bottom: 10px;
  padding-top: 0px;
}

.arrowContainerOne:hover {
  filter: drop-shadow(0 0 10px rgb(211, 10, 10));
  cursor: pointer;
}

.arrowContainerTwo {
  display: flex;
  padding-bottom: 10px;
  padding-top: 0px;
}

.arrowContainerTwo:hover {
  filter: drop-shadow(0 0 10px rgb(6, 224, 72));
  cursor: pointer;
}
